@model MovieCustomerWithAuthMVC_app.Models.Movie
@{
    ViewBag.Title = "Details";

}
<table class="table table-bordered table-striped">
    <tr>
        <td>Movie Name</td>
        <td>@Model.MovieName</td>
    </tr>
    <tr>
        <td>Genre Name</td>
        <td>@Model.Genre.GenreName</td>
    </tr>
</table>
<div>
    @Html.ActionLink("Back", "Index", "Movies", new { @class = "btn btn-success" }, null)
</div>

